* {
    margin: 0;
    padding: 0;
    background-color: #BFBFBF;   
}

.name{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    color: #FEF7C0;
    margin: auto;
    margin-bottom: 1100px;
    background: transparent;
    width: 60%;
    height: 500px;
    max-width: 90vw;
    position: absolute;
    top: 340px;
    right: 300px;
    z-index: 3;
}

h4{
    font-size: 8rem;
    font-weight: 100;
    font-style: italic;
    background-color: transparent;
}

h6{
    font-size: 8rem;
    font-weight: 100;
    background-color: transparent;
    animation: move 3s ease-in infinite;
}

@keyframes move {
    0% {
        transform:scale(.3);
    }
    50% {
        text-shadow: 0 25px 50px #4e4e50;
        color: rgba(70, 69, 70, 0.325);
    }
    59% {
        text-shadow: 0 25px 50px #999CA3;
    }
    100%{
        transform: translate(0);
    }
}

@media (max-width:800px){
    body{
        width: 100vw;
        height: 100vh;
    }

    .name{
        width: 300px;
        height: 300px;
        font-size: 2.9rem;
        position: absolute;
        left: 120px;
        top: 400px;
        color: #FEF7C0;
        margin-bottom: 100px;
        z-index: 3;
    }

    h4{
        font-size: 3rem;
        font-weight: 100;
        font-style: italic;
        background-color: transparent;
    }

    h6{
        font-size: 3rem;
        font-weight: 100;
        background-color: transparent;
        animation: move 2s ease-in infinite;
    }
}